@tailwind base;
@tailwind components;
@tailwind utilities;

/*Добавь это для теста
.bg-blue-500 {
  background-color: #3b82f6;
}

.text-white {
  color: #fff;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-6 {
  padding: 1.5rem;
} 
*/
